<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>All Chats</h1>

    <form action="/chats/new" method="GET">
    <button>Create New Chat</button>
    </form>

    <% for(let chat of chats) { %>

        <div class="chat">
            <p><b>From:</b> <%= chat.from %></p>
            <p><b>To:</b> <%= chat.to %></p>

            <div class="msg">
                <p><%= chat.msg %></p>
            </div>

            <p class="date">
                <%= chat.created_at %>
            </p>
            <form method="GET" action="/chats/<%= chat._id %>/edit">
    <button>Edit</button>
</form>
<form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
    <button>Delete</button>
</form>
        </div>

    <% } %>

</body>
</html>